<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 횟수 초과 경고창</title>
</head>
<body>

<div th:if ="${errno.equals('1')}">
    <script th:inline="javascript">
		alert("로그인 횟수를 초과했습니다");
        window.location.href="http://localhost:8080"
    </script>
</div>

<div th:if ="${errno.equals('2')}">
    <script th:inline="javascript">
		alert("아이디 또는 비밀번호가 맞지 않습니다. 다시 확인해주세요.");
        window.location.href="http://localhost:8080/login"
    </script>
</div>

<div th:if ="${errno.equals('3')}">
    <script th:inline="javascript">
		alert("내부 시스템 문제로 로그인 요청을 처리할 수 없습니다. 관리자에게 문의하세요.");
        window.location.href="http://localhost:8080/login"
    </script>
</div>

<div th:if ="${errno.equals('4')}">
    <script th:inline="javascript">
		alert(""존재하지 않는 계정입니다. 회원가입 후 로그인해주세요."");
        window.location.href="http://localhost:8080/join"
    </script>
</div>

<div th:if ="${errno.equals('5')}">
    <script th:inline="javascript">
		alert("인증 요청이 거부되었습니다. 관리자에게 문의하세요.");
        window.location.href="http://localhost:8080/login"
    </script>
</div>

<div th:if ="${errno.equals('6')}">
    <script th:inline="javascript">
		alert("알 수 없는 오류로 로그인 요청을 처리할 수 없습니다. 관리자에게 문의하세요.");
        window.location.href="http://localhost:8080/login"
    </script>
</div>

</body>
</html>